{%extends 'main-bus.html'%}
{%load static}
{%block content%}
<div class="col-xl-12">
    <div class="card mb-0">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#info" role="tab">
                    <i class="uil uil-user-circle font-size-20"></i>
                    <span class="d-none d-sm-block">Business Info</span> 
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#images" role="tab">
                    <i class="uil uil-clipboard-notes font-size-20"></i>
                    <span class="d-none d-sm-block">Business Images</span> 
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#options" role="tab">
                    <i class="uil uil-envelope-alt font-size-20"></i>
                    <span class="d-none d-sm-block">Business Options</span>   
                </a>
            </li>
        </ul>
        <!-- Tab content -->
        <div class="tab-content p-4">
            <div class="tab-pane active" id="info" role="tabpanel">
                        <div class="row">
                            <p class="card-title-desc">Let your customers know about your business | Provide contact and social media details</p>
                            <div class="col-xl-4">
                                <!-- <h5 class="font-size-16 mb-4">General Info</h5> -->
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-3">General Info</h4>        
                                        <form class="custom-validation" action="#">
                                            <div class="mb-3">
                                                <label class="form-label">Business Name</label>
                                                <input type="text" class="form-control" required placeholder="Your Business Name"/>
                                            </div>        
                                            <div class="mb-3">
                                                <label class="form-label"> Phone</label>
                                                <div>
                                                    <input type="text" id="pass2" class="form-control" required placeholder="Password"/>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">E-Mail</label>
                                                <div>
                                                    <input type="email" class="form-control" required
                                                            parsley-type="email" placeholder="Enter a valid e-mail"/>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Bio</label>
                                                <div>
                                                    <textarea required class="form-control" rows="5" placeholder="Short description about your business"></textarea>
                                                </div>
                                            </div>
                                        </form>
        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-3">Social Media</h4>        
                                        <form class="custom-validation" action="#">
                                            <div class="mb-3">
                                                <label class="form-label">Instagram</label>
                                                <input type="text" class="form-control" required placeholder="Your Business Name"/>
                                            </div>        
                                            <div class="mb-3">
                                                <label class="form-label">Facebook</label>
                                                <div>
                                                    <input type="text" id="pass2" class="form-control" required placeholder="Password"/>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Twitter</label>
                                                <div>
                                                    <input type="email" class="form-control" required
                                                            parsley-type="email" placeholder="Enter a valid e-mail"/>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Youtube</label>
                                                <div>
                                                    <input type="email" class="form-control" required
                                                            parsley-type="email" placeholder="Enter a valid e-mail"/>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Website</label>
                                                <div>
                                                    <input type="email" class="form-control" required
                                                            parsley-type="email" placeholder="Enter a valid e-mail"/>
                                                </div>
                                            </div>
                                                
                                        </form>
        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-3">Location</h4>        
                                        <form class="custom-validation" action="#">
                                            <div class="mb-3">
                                                <label class="form-label">Postcode</label>
                                                <input type="text" class="form-control" required placeholder="Your Business Name"/>
                                            </div>        
                                            <div class="mb-3">
                                                <label class="form-label">Address Line 1</label>
                                                <div>
                                                    <input type="text" id="pass2" class="form-control" required placeholder="Password"/>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Address Line 2 (optional)</label>
                                                <div>
                                                    <input type="email" class="form-control" required
                                                            parsley-type="email" placeholder="Enter a valid e-mail"/>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Town/City</label>
                                                <div>
                                                    <input type="email" class="form-control" required
                                                            parsley-type="email" placeholder="Enter a valid e-mail"/>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Country</label>
                                                <div>
                                                    <input type="email" class="form-control" required
                                                            parsley-type="email" placeholder="Enter a valid e-mail"/>
                                                </div>
                                            </div>
                                                
                                        </form>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                    Update Profile
                                </button>
                            </div>
                        </div>
            </div>
            <div class="tab-pane" id="images" role="tabpanel">
                <div class="row">
                    <p class="card-title-desc">Let your customers know about your business | Provide contact and social media details</p>
                    <div class="col-xl-4">
                        <!-- <h5 class="font-size-16 mb-4">General Info</h5> -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Logo</h4>        
                                <div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <!-- <h5 class="font-size-16 mb-4">General Info</h5> -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Display Photos</h4>        
                                <div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <!-- <h5 class="font-size-16 mb-4">General Info</h5> -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Cover Photo</h4>        
                                <div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="options" role="tabpanel">
                <div class="row">
                    <p class="card-title-desc">Let your customers know about your business | Provide contact and social media details</p>
                    <div class="col-xl-4">
                        <!-- <h5 class="font-size-16 mb-4">General Info</h5> -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Amenities</h4>        
                                <div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input type="checkbox" class="form-check-input" id="customSwitchsizelg" checked>
                                        <label class="form-check-label" for="customSwitchsizelg">Customer Parking</label>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input type="checkbox" class="form-check-input" id="customSwitchsizelg" checked>
                                        <label class="form-check-label" for="customSwitchsizelg">Card Accepted</label>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input type="checkbox" class="form-check-input" id="customSwitchsizelg" checked>
                                        <label class="form-check-label" for="customSwitchsizelg">Disability Accessible</label>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input type="checkbox" class="form-check-input" id="customSwitchsizelg" checked>
                                        <label class="form-check-label" for="customSwitchsizelg">Child-Friendly</label>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input type="checkbox" class="form-check-input" id="customSwitchsizelg" checked>
                                        <label class="form-check-label" for="customSwitchsizelg">Pet Friendly</label>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input type="checkbox" class="form-check-input" id="customSwitchsizelg" checked>
                                        <label class="form-check-label" for="customSwitchsizelg">Large Size Switch</label>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input type="checkbox" class="form-check-input" id="customSwitchsizelg" checked>
                                        <label class="form-check-label" for="customSwitchsizelg">WiFi</label>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input type="checkbox" class="form-check-input" id="customSwitchsizelg" checked>
                                        <label class="form-check-label" for="customSwitchsizelg">Loyalty Program</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Payment Methods</h4>        
                                <div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input type="checkbox" class="form-check-input" id="customSwitchsizelg" checked>
                                        <label class="form-check-label" for="customSwitchsizelg">Cash</label>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input type="checkbox" class="form-check-input" id="customSwitchsizelg" checked>
                                        <label class="form-check-label" for="customSwitchsizelg">Physical Card Terminal</label>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input type="checkbox" class="form-check-input" id="customSwitchsizelg" checked>
                                        <label class="form-check-label" for="customSwitchsizelg">Check</label>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input type="checkbox" class="form-check-input" id="customSwitchsizelg" checked>
                                        <label class="form-check-label" for="customSwitchsizelg">PayPal</label>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input type="checkbox" class="form-check-input" id="customSwitchsizelg" checked>
                                        <label class="form-check-label" for="customSwitchsizelg">Bank Transfer</label>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input type="checkbox" class="form-check-input" id="customSwitchsizelg" checked>
                                        <label class="form-check-label" for="customSwitchsizelg">Gift Card</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Location</h4>        
                               

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}