{%extends 'main-bus.html'%}
{%load static%}
{%block content%}


<div class="row mb-4">
    <div class="col-lg-12">
        {%include 'alert.html'%}
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add A Staff</h4>
                <p class="card-title-desc">Let your customers know what the services you offer and how you charge!</p>
                <form action="{%url 'bus.staff'%}" method="POST">
                    {%csrf_token%}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <label class="form-label">Personal Details</label>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label">First Name</label>
                                        <input type="text" placeholder="e.g John" class="form-control" name="duration_hours" >
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label">Last Name</label>
                                        <input type="text" placeholder="e.g Doe" class="form-control" name="duration_mins" >
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label">E-mail</label>
                                        <input type="text" placeholder="e.g j.doe@example.com" class="form-control" name="price" >
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label">Nickname</label>
                                        <input type="text" placeholder="e.g stylishJoe" class="form-control" name="price" >
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <div class="mb-3">
                                        <label class="form-label">Profile Photo</label>
                                        <input type="file" class="form-control" name="price" >
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Services Offered</label>
                                    <select class="form-control select2 select2-multiple" name="service" select2-multiple" multiple="multiple" data-placeholder="Choose ..." required>                      
                                        {% for service in services %}
                                            <optgroup label="{{category.name}}">
                                                <option value="{{service.id}}">{{service.service.name}}</option>
                                            </optgroup>
                                        {% endfor%}
                                    </select>
                                    {{form.service.errors}}
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <a href="javascript:void(0);" class="btn btn-success waves-effect waves-light" onclick="bus.submitForm(this)" >Add New Staff</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        <!-- end select2 -->
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-xl-3 col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="dropdown float-end">
                            <a class="text-body dropdown-toggle font-size-16" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="uil uil-ellipsis-h"></i>
                            </a>
                          
                            <div class="dropdown-menu dropdown-menu-end" style="">
                                <a class="dropdown-item" href="#">Remove</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="mb-4">
                            <img src="{%static 'images_/users/avatar-2.jpg'%}" alt="" class="avatar-lg rounded-circle img-thumbnail">
                        </div>
                        <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">Simon Ryles</a></h5>
                        <p class="text-muted mb-2">Full Stack Developer</p>
                        
                    </div>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-light text-truncate"><i class="uil uil-search-alt me-1"></i> Services</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}