{%load static%}
<!doctype html>
<html lang="en">
<head>
        
        <meta charset="utf-8" />
        <title>Register | Stanar </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Stanar Cuts" name="description" />
        <meta content="Fors I.T" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{%static 'images/favicon.ico'%}">

        <!-- Bootstrap Css -->
        <link href="{%static 'css/bootstrap.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Material Icon Css-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <!-- Icons Css -->
        <link href="{%static 'css/icons.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{%static 'css/app.min.css'%}" id="app-style" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/styles.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'libs/toastr/build/toastr.min.css'%}" rel="stylesheet" type="text/css" />
</head>
<body data-keep-enlarged="true" class="vertical-collpsed">
    
    <!-- Begin page -->
    <div id="layout-wrapper">
        <!-- Header  -->
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="#" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="{% static 'images/stana.jpg'%}" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'images/stana.jpg'%}" alt="" height="20">
                            </span>
                        </a>

                        <a href="#" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="{% static 'images/stana.jpg'%}" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'images/stana.jpg'%}" alt="" height="20">
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                </div>

                <div class="d-flex">               

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="uil-bell"></i>
                            <span class="badge bg-danger rounded-pill">3</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                            aria-labelledby="page-header-notifications-dropdown">
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h5 class="m-0 font-size-16"> Notifications </h5>
                                    </div>
                                    <div class="col-auto">
                                        <a href="#!" class="small"> Mark all as read</a>
                                    </div>
                                </div>
                            </div>
                            <div data-simplebar style="max-height: 230px;">
                                <a href="#" class="text-reset notification-item">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-xs">
                                                <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                    <i class="uil-shopping-basket"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="mb-1">Your order is placed</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1">If several languages coalesce the grammar</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="text-reset notification-item">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-shrink-0 me-3">
                                            <img src="{%static 'images_/users/avatar-3.jpg'%}" class="rounded-circle avatar-xs" alt="user-pic">
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="mb-1">James Lemire</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1">It will seem like simplified English.</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="text-reset notification-item">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-xs">
                                                <span class="avatar-title bg-success rounded-circle font-size-16">
                                                    <i class="uil-truck"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="mb-1">Your item is shipped</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1">If several languages coalesce the grammar</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <a href="#" class="text-reset notification-item">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-shrink-0 me-3">
                                            <img src="{%static 'images_/users/avatar-3.jpg'%}" class="rounded-circle avatar-xs" alt="user-pic">
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="mb-1">Salena Layfield</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2 border-top">
                                <div class="d-grid">
                                    <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                        <i class="uil-arrow-circle-right me-1"></i> View More..
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="{%static 'images_/users/avatar-3.jpg'%}"
                                alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">Marcus</span>
                            <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="#"><i class="uil uil-user-circle font-size-18 align-middle text-muted me-1"></i> <span class="align-middle">View Profile</span></a>
                            <a class="dropdown-item" href="#"><i class="uil uil-lock-alt font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">Lock screen</span></a>
                            <a class="dropdown-item" href="#"><i class="uil uil-sign-out-alt font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">Sign out</span></a>
                        </div>
                    </div>

                    
        
                </div>
            </div>
        </header>
        <!-- navigation bar  -->
        {% include 'nav-bar-bus.html'%}
        <!-- MAIN CONTENT  -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0">{{page_title}}</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <!-- page content -->
                    <div class="row mb-4">
                        {%block content%}

                        {%endblock%}
                    </div>
                </div>
            </div>
        <!-- MAIN CONTENT ENDS -->
    </div>

    <!-- JAVASCRIPT -->
    <script src="{%static 'libs/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'libs/metismenu/metisMenu.min.js'%}"></script>
    <script src="{%static 'libs/simplebar/simplebar.min.js'%}"></script>
    <script src="{%static 'libs/node-waves/waves.min.js'%}"></script>
    <script src="{%static 'libs/waypoints/lib/jquery.waypoints.min.js'%}"></script>
    <script src="{%static 'libs/jquery.counterup/jquery.counterup.min.js'%}"></script>
    <script src="{%static 'libs/pageblock/jquery.blockUI.js'%}"></script>
    <!-- toastr plugin -->
    <script src="{%static 'libs/toastr/build/toastr.min.js'%}"></script>
    


    <!-- Apps js -->
    <script src="{%static 'js/app.js'%}"></script>
    <script src="{%static 'js/util-functions.js'%}"></script>
    <script src="{%static 'js/apps/business.js'%}"></script>

</body>
</html>